@import './base.css';

#app {
  max-width: var(--total-width);
  margin: 2rem auto;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--primary);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--primary);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
